<a href="https://colab.research.google.com/github/Aruna45-star/2025khub-tasks-/blob/main/K_HUB_Day_2_Task_From_Aruna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. for Loop – With range()

✅ Syntax:

In [ ]:
for i in range(start, stop):

🔹 start: where the loop starts


🔹 stop: where the loop stops (not included)

In [ ]:
for i in range(1, 5):
    print(i)

1
2
3
4

2.  ITERATING OVER LISTS, STRINGS, TUPLES

EXAMPLE FOR LIST

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in range(1, 10):
    print(x)

1
2
3
4
5
6
7
8
9

EXAMPLE FOR STRING

In [ ]:
for letter in "aruna is the very smart girl":
        print(letter)

a
r
u
n
a

i
s

t
h
e

v
e
r
y

s
m
a
r
t

g
i
r
l

EXAMPLE FOR TUPLE

In [ ]:
x = ("apple", "banana", "cherry")
for x in  x:
    print(x)

apple
banana
cherry

3. WHILE LOOP

Repeats code while condition is true

✅ Syntax:

In [ ]:

while condition:
    # do something

EXAMPLE

In [ ]:

i = 3
while i < 70:
    print(i)
    i += 9

3
12
21
30
39
48
57
66

ANOTHER  ONE  EXAMPLE

In [ ]:
i = 5
while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

4. LOOP CONTROL STATEMENT  



⛔ break: Stop the loop

In [ ]:
for i in range(98 ,0, -12):
    if i == 56:
         break
    print(i)

98
86
74
62
50
38
26
14
2

PASS :  Do nothing (just placeholder)

In [ ]:

for i in range(23):
    if i == 12:
         pass
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

CONTINUE :  Skip current step

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

5.   Else with loops


> Runs only if loop finishes without break



✅ Example:

In [ ]:
for i in range(3):
    print(i)
else:
    print("Loop finished!")

0
1
2
Loop finished!

❌ With break (else doesn’t run):

In [ ]:
for i in range(5):
    if i == 2:
        break
    print(i)
else:
    print("Loop finished!")

0
1

6. NESTED  LOOPS (LOOP INSIDE LOOP)

✅ Example: Print pattern

In [ ]:
x = 1, 4
for i in range(1, 4):
    print(i * '*')

*
**
***

ANOTHER ONE EXAMPLE

In [ ]:
for i in range(3):
    for j in range(3):
        print("*", end=' ')
    print()

* * *
* * *
* * *