<a href="https://colab.research.google.com/github/Aruna45-star/2025khub-tasks-/blob/main/K_HUB_Day_1_Task_From_Sai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRING

A string is a sequence of characters enclosed within single quotes ('hlo') or double quotes ("hlo").

In [ ]:
name = "Sai"
print(name)

Sai

STRING METHODS

upper()----Converts all letters to uppercase.

lower()----Converts all letters to lowercase.

strip()----Removes spaces from beginning and end.

lstrip()----Removes spaces only from the left side.

rstrip()----Removes spaces only from the right side.

replace()----Replaces text.

split()----Splits string into list of words.

join()----Joins list of strings into one string.

title()----Capitalizes first letter of every word.

len()----Returns number of characters in string.

In [ ]:
text = " hlo frends this is kcpd "

print( text.upper())
print( text.lower())
print( text.strip())
print( text.lstrip())
print( text.rstrip())
print( text.replace("hlo", "bye"))
print( text.strip().split())
print( text.title())
print(len(text))

 HLO FRENDS THIS IS KCPD
 hlo frends this is kcpd
hlo frends this is kcpd
hlo frends this is kcpd
 hlo frends this is kcpd
 bye frends this is kcpd
['hlo', 'frends', 'this', 'is', 'kcpd']
 Hlo Frends This Is Kcpd
25

BOOLEAN

Only two values:

True---1

False---0

Used in logical operations and conditions.

OPERATORS

Comparison Operators

Logical Operators

COMPARSION OPERATORS

*equal to ==

*Not equal to !=

*Greater than >

*Less than <

*Greater than or equal >=

*Less than or equal <=

LOGICAL OPERATORS

and----Both conditions must be true

or----At least one condition is true

not----Reverses the condition

In [ ]:
a = 10
b = 5

print( a > b)
print( a < b)
print( a == b)
print(a != b)
print(a >= 10 and b <= 5)
print(a >= 10 or b <= 5)
print(not(a == b))

True
False
False
True
True
True
True

LIST

Ordered

Mutable

Duplicates allowed

In [ ]:
names = ["devi", "swaroopa", "geeta"]
names.append("roja")
print(names)

['devi', 'swaroopa', 'geeta', 'roja']

TUPLE

Ordered

Immutable (can't change)

Allows duplicates

In [ ]:
food = ("chicken", "prawns", "fish")
print(food[1])

prawns

SET

Unordered

No duplicates

Mutable

In [ ]:
nums = {1, 2, 3, 3,4,5,6,5,8,7}
print(nums)

{1, 2, 3, 4, 5, 6, 7, 8}

DICTIONARY (dict)

Key-value pairs

Mutable

Insertion order maintained

In [ ]:
student = {"name": "sai", "age": 20}
print(student["name"])
print(student["age"])

sai
20

CONDITIONAL STATEMENTS

Conditional statements are used to control the flow of your program based on a condition. They let the program make decisions and execute different code blocks depending on whether a condition is True or False

if----Runs a block of code if the condition is True

elif----Runs if the previous if condition is False and this one is True

else----Runs when all above conditions are False

In [ ]:
num = 0

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Zero

In [ ]:
score = int(input("Enter your score: "))

if score >= 90:
    print("Grade A")
elif score >= 75:
    print("Grade B")
elif score >= 60:
    print("Grade C")
else:
    print("Fail")

Enter your score: 50
Fail

MATCH-CASE

The match-case statement is used to match a variableâ€™s value against multiple patterns (like options), and execute the block that matches

In [ ]:
day = "Friday"

match day:
    case "Monday":
        print("SAI")
    case "Friday":
        print("MOHAN")
    case "Sunday":
        print("NAIDHU")
    case _:
        print("NOT MATCHING")

MOHAN